#fm {
  position: relative;
  width: 592px;
  margin: 3px auto 0;
  z-index: 5;
}

#keyword {
  width:550px;
}

.error {
  color:#a94442;
}

.search-pane {
  margin: 3px auto 0;
  padding-top: 5px;
}

.ft a{
  color: #999;
}

.login-form {
  width: 350px;
  margin: 49px auto 0;
  padding: 30px; 
}

.footer {
  padding-top: 40px;
  padding-bottom: 40px;
  margin-top: 100px;
  color: #777;
  text-align: center;
  border-top: 1px solid #e5e5e5;
}
