@import helper._
@(word: Option[Word])(implicit flash: Flash,request:play.api.mvc.RequestHeader)

@main("搜索结果"){
  <div class="container">
    @common.notice()
    @common.layout{
      @common.search_form()

      @if(word.isDefined) {
        <div class="search-pane">
          <div class="search-result">
            <h3>@word.get.keyword</h3>
            <div id="original">
              <h4 class="label label-default">原意</h4> 
              <p>@word.get.original</p>
            </div>
            <div id="trans">
              <h4 class="label label-default">引申</h4> 
              <p>@word.get.trans</p>
            </div>
          </div>
          <div>
            <form id="favourForm">
              <input type="hidden" name="id" value="@word.get.id"/>
              <button class="btn btn-default" id="favourBtn">
                <span class="glyphicon glyphicon-thumbs-up" id="favourCount">&nbsp;@word.get.favourCount</span>
              </button>
            </form>
          </div>
        </div>
      } else {
        未找到单词
      }
      <hr/>
      @word match {
        case Some(w) => {
          @comments.list_comments(w.comments)
          <div class="sp" style="height:16px;"></div>
          @comments.new_comment(w.id)
        }
        case _ => {}
      }
    }

  </div>
  <script src="@routes.Assets.at("javascripts/hello.js")" type="text/javascript"></script>
}
