@import helper._
@(totalWords:Long,hotWords:List[Word])(implicit flash: Flash,request:play.api.mvc.RequestHeader)

@main("欢迎使用网络新词词典") {
  <div class="container">
    共收录 @totalWords 单词
    @common.notice()

    <div class="sp" style="height:90px;">
    </div>
    @common.layout {
      @common.search_form()
      <ul class="list-inline">
        <li>热词</li>
        @for(word <- hotWords){
          <li><a href="@routes.WordController.showWord(word.id)">@word.keyword</a></li>
        }
      </ul>
    }
    <div class="sp" style="height:56px;"></div>
  </div>
  @common.footer()
}
