@(title: String)(content: Html)

<!DOCTYPE html>
<html>
    <head>
        <title>@title</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("lib/bootstrap/css/bootstrap.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <script src="@routes.Assets.at("lib/jquery/dist/jquery.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("lib/bootstrap/js/bootstrap.js")" type="text/javascript"></script>
    </head>
    <body>
      <nav class="navbar navbar-default" role="navigation">
        <div class="container">
          <a class="navbar-brand" href="/">网词</a>
          <ul class="nav navbar-nav navbar-right">
          </ul>
        </div>
      </nav>
      @content
    </body>
</html>
